<div class="quiz">
  <span id="quizQuestion"></span>
  <ul id="ulOptions">
    <li class="choice" id="option1"></li><br><br>
    <li class="choice" id="option2"></li><br><br>
    <li class="choice" id="option3"></li><br><br>
    <li class="choice" id="option4"></li><br><br>
  </ul>
</div>

<script>
  userId = <%= @user.id %>
</script>
